/* Font Imports */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/* 1.1 Global Variables */
:root {
    --regularFont: "Poppins", sans-serif;
    --secondaryFont: "Josefin Sans", sans-serif;
    /*Color Pallet*/
    --navyBlue: #002248;
    --darkSienna: #370617;
    --darkRed: #9D0208;
    --persimmon: #E85D04;
    --mustardYellow: #D9A21B;
    --greenIvory: #2B9348;
}
/* Content Styling */
main{
    padding: 3em 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-evenly;
}
.infield{
    position: relative;
}
/* Form Styling */
#vehicle__image{
    width: 92.3%;
    margin: 0 auto;
    height: 600px;
    object-fit: cover;
    object-position: 70% 20%;;
    border-radius: 13px 13px 0 0;
}
#form{
    background: var(--mustardYellow);
    color: white;
    display: flex;
    flex-flow: wrap row;
    align-items: center;
    justify-content: center;
    padding: 2em 1em 1.4em 1em;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    border-radius: 0 0 13px 13px;
}
.form__input{
    padding: 0 7px 0 7px;
    flex-wrap: wrap;
    padding-bottom: 1em;
}
#puLocation:focus,#puDate:focus,#rDate:focus,#form__submit_btn:focus{outline: none;}
input{
    font-family: var(--regularFont);
}
.form__submit_btn{
    border-radius: 5px;
    font-family: var(--regularFont);
    border-style: none;
    padding: 0.5em 2em 0.5em 2em;
}
.form__submit_btn:hover{
    background-color: var(--greenIvory);
    color: white;
    cursor: pointer;
}
/* Car Rental Deals */
.products{
    padding: 2em 0;
  }
.products h2{
    border-bottom: 1px solid lightgrey;
}
.products__popular h3{
    width: 100%;
}
.products__popular p:nth-child(1){
    margin: 0;
}
.products__popular p:nth-child(2){
    margin: 0 0 20px 0;
}
.products__popular{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2em 3em 2em 3em;
    justify-content: space-evenly;
}
.products__popular_opt, 
.products__sytem_opt{
    padding: 2em;
    margin-bottom: 1em;
    border: 1px solid #d7d7d7;
    border-radius: 5px;
}
.products__popular_opt:hover, 
.products__sytem_opt:hover{
    box-shadow: 0 5px 5px 5px lightgray;
}
.products__popular_opt img, 
.products__sytem_opt img{
    height: 160px;
    width: 250px;
}
.products__popular_opt a, 
.products__sytem_opt a{
    color: black;
    text-decoration: none;
    transition: 0.3s;
}
.products__popular_opt a:hover, 
.products__sytem_opt a:hover {
    color: rgb(138, 138, 138);
}
.selected{
    align-items: center;
    text-align: center;
}.wrap{
    display: flex;
    flex-wrap: wrap;
}
#return-button{
    background: var(--mustardYellow);
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    width: 80px;
    text-align: center;
    padding: 1%;
    border-radius: 30px;
    position: absolute;
    right: 50px;
    top: 50px;
}#list-button{
    background: var(--mustardYellow);
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    width: 100px;
    text-align: center;
    padding: 1%;
    border-radius: 30px;
    position: absolute;
    right: 50px;
    top: 40px;
}
#return-button:hover, #list-button:hover{
    background: var(--persimmon);
}
.text-span{
    color: rgb(163, 162, 162);
    font-family: var(--regularFont);
}
#error-msg{
    color: red;
    width: 40%;
}.deallabel{
    background: var(--greenIvory);
    color: white;
    float: right;
    right: 0;
    padding: 0 6px 0 6px;
    border-radius: 5px;
}.short{
    margin: 0;
}.short:nth-child(5){
    padding-bottom: 10px;
}.submit__input{
    width: 100%;
    text-align: center;
}.confirmOrder{
    background: var(--greenIvory);
    color: white;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
}.confirmOrder:hover{
    background: var(--persimmon);
    cursor: pointer;
}#form-date{
    background: var(--mustardYellow);
    color: white;
    display: flex;
    flex-flow: wrap row;
    align-items: center;
    justify-content: center;
    padding: 2em 1em 1.4em 1em;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    border-radius: 0;
    border-radius: 13px;
}.table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin: auto;
}.table td, .table th {
    border: 1px solid black;
    padding: 40px;
}.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--navyBlue);
    color: white;
}.table tr:hover {background-color: #ddd;}
.button-delete{
    background: var(--darkRed);
    padding: 10px 15px 10px 15px;
    color: white;
    border: none;
    border-radius: 3px;
}.button-delete:hover{
    background: var(--mustardYellow);
    cursor: pointer;
}