body {
max-width: 500px;
}
svg {
width: 500px;
margin: 0 auto;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 500;
  }
}