.row-loc {
display: flex;
justify-content: center;
flex-wrap: wrap;
text-align: center;
}

.column {
margin: 2em;
width: 400px;

}

.column table {
margin: 0 auto;
}

#sec1 h2 {
margin: 0;
    line-height: 2.5em;
background-color: #e3dde4;
}
/*
#footer {
  background-color: #e3dde4;
  padding: 1em;
  }

#sec1 h2 {
  font-size: 2em;
  margin: 1.5em;
  line-height: normal;
  }