.idea/

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workplace

# Local History for Visual Studio
.history/

# Nai-Hsien's test file
test-nai.php