
nav {
padding: 1rem;
}


body {
    box-sizing: content-box !important
}

.h1 {

    margin-bottom: 2rem;
}

.m-1 {

    margin: 2rem !important;
    
}

.navbar-text {
    padding: 2rem;
}

.back {
    display: inline-block;
    padding-bottom: 1rem;
}

/*  index  */
#title {
    margin: 2rem 0rem;
    text-align: center;
}

.text-center.text-white.bg-info {
    display: inline-block;
    padding: 1rem;
    border-radius: 15px 40px;
}

.d-flex.p-2.justify-content-center {
    margin-top: 2em;
}

.form-control {
    margin-bottom: 1rem;
}